<p class="title">Title of the news</p>
<p class="content">Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus et aut officiis debitis.</p>
<p class="creation-date">Created on: <span class="date">19/01/2019</span></p>
<div class="post-actions">
    <div>
        <button><fa-icon class="icons" [icon]="like"></fa-icon> <span>200</span></button>
        <button><fa-icon class="icons" [icon]="dislike"></fa-icon> <span>200</span></button>
    </div>
    <button type="button" class="btn btn-danger">Delete</button>
</div>

