<header>
    <nav class="navbar navbar-expand-lg navbar-dark navbar-color">
        <div class="navbar-brand brand">
            <fa-icon [icon]="faBlog"></fa-icon>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/posts">Posts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/new">New</a>
                </li>
                <li class="nav-item">
                </li>
            </ul>
        </div>
    </nav>
</header>
