header {
  .navbar-color {
    background-color: #392e5c;
  }

  a {
    text-decoration: none;
    color: #ffffff;
  }

  .brand {
    color: #ffffff;
    font-size: 1.6rem;
    margin-left: 10px;
  }

  i {
    margin-right: 5px;
  }
}


