<div class="post-form">
    <form class="border border-light p-5">
        <p class="text-center h4 mb-4">Create Post</p>

        <label for="exampleForm2">Title</label>
        <input type="text" id="exampleForm2" class="form-control">

        <div class="form-group">
            <label for="exampleFormControlTextarea1">Content</label>
            <textarea class="form-control rounded-0" id="exampleFormControlTextarea1" rows="10"></textarea>
        </div>

        <button class="btn btn-purple btn-block" type="submit">Create</button>
    </form>
</div>
